@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

body, html {
  background: #fbfafc;
  font-family: "Jost", san-serif;
  font-weight: 400;
	margin:0px;
  padding:0px;
}

.wrapper {
	position: relative;
  width:100%;
	overflow:auto;
}

/*_____________________sidebar start __________________________ */

div.sidebar-over {
  --scrollbarBG: #CFD8DC;
  --thumbBG: #90A4AE;
}

.sidebar {
  position: fixed;
  height:100vh!important;
  top: 0;
  bottom: 0;
  left: 0;
  z-index:11;
  width: 260px;
  overflow-y: auto;
  transition:all 0.3s ;
  background: #fbfafc;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var (--scrollbarBG);
}

.sidebar::-webkit-scrollbar{
  width:5px;
  height: 5px;
  border-radius:10px;
  background-color:#eee;
}
.sidebar::-webkit-scrollbar-track{
  background-color: var(--scrollbarBG);
}
.sidebar::-webkit-scrollbar-thumbs{
  border-radius: 6px;
  background-color: var(--thumbBG);
}

div.wrapper {
  overflow-x: hidden;
}

.sidebar .sidebar-header {
  padding:20px;
  background-color:#fbfafc;
}

.sidebar-header h3{
  color: #2e2c34;
  font-size: 24px;
  font-family: "Jost", san-serif;
  margin: 0px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 600;
}

.sidebar-header h3 svg{
  width: 45px;
  margin-right: 10px;
}

.sidebar ul li{
  padding: 2px 7px;
}

.sidebar> ul li.dropdown >a.top-item{
  background: #ffffff !important;
  border-radius: 5px;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.12));
}

.sidebar ul li.active>a{
  background: rgba(85, 66, 246, 0.1);
}

.sidebar ul li>a>span {
  color:  #2e2c34;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  margin-left: 16px;
}

.sidebar ul li a:hover{
  color: rgb(32, 29, 29)2c34;
  background: rgba(12, 5, 80, 0.1);
}

.dropdown-toggle::after {
  position: absolute;
  right: 10px;
  top: 23px;
  color: #84818A;
}

.sidebar ul li.dropdown{
  position: sticky;
}


.sidebar ul.components {    
  padding: 20px 0;
}

.sidebar ul li a {
  border-radius:5px;
  font-size: 15px;
  position: relative;
  font-weight: 400;
  display: block;
  padding: 10px;
  line-height: 30px;
  color: rgba(68, 68, 70, 0.7);
  text-decoration: none;
}

.sidebar ul li a span{
  text-transform: capitalize;
  display: inline-block;
}

.sidebar ul li.help {
  margin-bottom: 10px;
}

/*____________________ sidebar end __________ */

/*________________sidebar nav toggle start___________*/
.sidebar.show-nav,.wrapper-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}
/*________________sidebar nav toggle end___________*/

/*_________ sidebar overlay (small-screen) start_____*/
.sidebar  div.small-screen > li {
  position: relative;
}
.sidebar  div.small-screen > li > a > span.notify {
  padding: 10px;
  background: rgba(58, 49, 139, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  font-weight: 400;
}
.sidebar  div.small-screen > li > a > span.add {
  padding: 9px;
  background: rgba(58, 49, 139, 0.3);
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  font-weight: 600;
}
@media only screen and (max-width: 992px) {
  .sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
    transform:translatex(-100%);
    transition: all 150ms linear;
    box-shadow:none!important;
  }	
  
  .wrapper-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    visibility:hidden;
    opacity:0;
    z-index:3;
    transition: all 150ms linear;
    background-color:rgba(0,0,0,0.5);
  }
}
  /*_________ sidebar overlay (small-screen) end_____*/

/* ___________content with navbar start ____________*/

.content {
  position: relative;
  transition: all 0.3s;
  background-color: #fbfafc;
}

.top-navbar{
  width:100%;
  z-index:9;
  position:relative;
}

.main-content{
  padding:10px 20px 0px 20px;
  position: relative;
  width: 100%;
  background-color: #fbfafc;
}

.navbar-collapse {
  margin-right: 25px!important;
}
.navbar{
  background-color:#fbfafc;
  color: #2e2c34;
}

.navbar-brand {
  color: #2e2c34;
  font-size: 24px;
  font-family: "Jost", san-serif;
  margin: 0px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 600;
}

.navbar button{
  background-color: transparent;
  border: none;
}

.navbar-nav > li.add > a {
  background: rgba(85, 66, 246, 0.1);
  border-radius: 6px;
  width: 70px;
  padding: 4px!important;
  margin-top: 9px;
}
.navbar-nav li.add a > span:nth-child(1) {
  color: rgba(85, 66, 246, 1);
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.navbar-nav > li.add > a > span{
  color: #2e2c34;
  font-family: Jost;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.navbar-nav > li > a {
  color: #2e2c34;
}

.navbar-nav > li > a.circle {
  position: relative;
}

.navbar-nav > li > a.circle > span.circle-icons {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  border: 2px solid #ffffff;
  padding: 4px;
  border-radius: 50px;
  z-index: 232;
  margin: 10px 13px 0 0;
}

.dropdown-toggle.arrow::after {
  position: absolute;
  right: 1px!important;
  top: 23px;
  color: #84818A;
}

.dropdown-toggle.arrow span.profile-icons {
  background: #00a5ff;
  border-radius: 24px;
  padding: 5px;
  color: #ffffff;
  font-family: "Jost";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.dropdown-toggle.arrow span.profile-icons:hover {
  text-decoration: none;
}

.navbar-nav > li.show .dropdown-menu {
  transform: translate3d(0, 0, 0);
  opacity:1;
  visibility:visible;
}


.dropdown-menu li > a {
  font-size: 13px;
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 2px;
  font-weight: 400;
  transition: all 150ms linear;
}

.navbar-nav > .active > a:focus {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.08);
}

.navbar-nav li a {
  position: relative;
  display: block;
  padding: 10px 15px!important;
}
  
/* _______content with navbar end ____________ */
  
/* _______ global media__queries______ */

@media only screen and (min-width:992px){
	.sidebar.active {
    width: 80px;
    height: 100%!important;
    position: absolute!important;
    overflow: visible!important;
    top: 0!important;
    z-index: 678;
    float: left!important;
    bottom: 0!important;
  }


  .sidebar.active .sidebar-header h3 span {
    display:none;
    transition:all 0.5s ease;
  }

  .sidebar.active ul li a span{
    display:none;
    transition:all 0.5s ease;
  }

  .sidebar.active .dropdown-toggle::after {
    display:none;
    transition:all 0.5s ease;
  }

  .content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #EEEEEE;
  }  

  .content.active {
    width: calc(100% - 80px);
  } 

  .sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
  }                                                                                                                                                                                                              
}


@media only screen and (min-width:992px){
  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    transform: translate3d(0, -20px, 0);
    visibility: hidden;
    transition: all 150ms linear;
    display: block;
    min-width:15rem;
    right: 0;
    left: auto;
    opacity: 0;
  }
	
}


/*______ overlay sidebar media queries (small-screen) _______ */

@media only screen and (max-width:992px){
  .sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
    transform:translatex(-100%);
    transition: all 150ms linear;
    box-shadow:none!important;
  }	

  .body-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:none;
    visibility:hidden;
    opacity:0;
    z-index:3;
    transition: all 150ms linear;
    background-color:rgba(0,0,0,0.5);
  }
}
/* ______ overlay sidebar media queries (small-screen) _______ */

/* ______ global media__queries end _____ */

/*____Home switch ______*/
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/*__________Home switch _________*/

/* dashboard cards  */
.card {
  border: none!important;
  width: 100%!important;
}
.line {
  margin-top: 0px!important;
  margin-bottom: 0px;
}
